<div class="container">
    <div class="row">
        <div class="col-md-12">&nbsp;</div>
    </div>
	<div class="row">
		<div class="col-md-12">&nbsp;</div>
		<form class="form-horizontal" name="addExpenseForm" ng-submit="addExpenseForm.$valid && addExpense()">
			<div class="row">
				<div class="col-xs-4 form-group">
					<label for="inputDate" class="col-sm-2 control-label">Date</label>
					<div class="col-sm-10">
						<input type="date" class="form-control" ng-model="receipt.dateOfPurchase" required>
					</div>
				</div>
				<div class="col-xs-4 form-group">
					<label for="selectMerchant" class="col-sm-2 control-label">Merchant</label>
					<div class="col-sm-10">
						<select ng-model="receipt.merchantID" ng-options="item.merchantID as item.merchantName for item in merchants" required class="form-control">
							<option>--</option>
						</select>
					</div>
				</div>
				<div class="col-xs-4 form-group">
					<label for="inputPlace" class="col-sm-2 control-label">Place</label>
					<div class="col-sm-10">
						<input type="text" ng-model="receipt.place" class="form-control" placeholder="Place" required>
					</div>
				</div>
			</div>
			<div class="row"  ng-repeat="entry in receipt.entries">
				<div class="col-xs-2 form-group">
					<select ng-model="entry.categoryID" ng-options="item.categoryID as item.categoryName for item in categories" required class="form-control">
						<option>--</option>
					</select>
				</div>
				<div class="col-xs-2 form-group">
					<select ng-model="entry.subCategoryID" ng-options="item.subCategoryID as item.subCategoryName for item in subCategories" required class="form-control">
						<option>--</option>
					</select>
				</div>
				<div class="col-xs-2 form-group">
					<input type="text" ng-model="entry.itemName" class="form-control" placeholder="Item Names" required>
				</div>
				<div class="col-xs-2 form-group">
					<input type="text" class="form-control" ng-pattern="/\d+\.?\d*/" ng-model="entry.quantity" placeholder="Quantity" required>
				</div>
				<div class="col-xs-1 form-group">
					<select ng-model="entry.units" required class="form-control" required>
						<option value=''>Units</option>
						<option value='lb'>lb</option>
						<option value='ea'>ea</option>
						<option value='gal'>gal</option>
						<option value='grms'>grms</option>
					</select>
				</div>
				<div class="col-xs-2 form-group">
					<input type="number" ng-pattern="/\d+\.?\d*/" ng-model="entry.price" ng-change="calculateRate($index)" class="form-control" placeholder="Price" required>
				</div>
				<div class="col-xs-2 form-group">
					<input type="text" class="form-control" ng-model="entry.rate" ng-disabled="true" placeholder="Rate" required>
				</div>
			</div>
			<div class="row">
				<button ng-click="addEntry()">Add Entry</button>
				<input type="submit" value="Submit" id="addExpenseBtn" />
			</div>
		</form>
	</div>
</div>